.father{
    position: relative;
}
.father i {
    position: absolute;
    top: 12px;
    left: 13px;
    color: #00f;
    font-size: 26px;
}
.father1{
    position: relative;
}
.father1 i {
    position: absolute;
    top: 12px;
    left: 5px;
    color: #00f;
    font-size: 26px;
}
.father2{
    position: relative;
}
.father2 i {
    position: absolute;
    top: 12px;
    left: 5px;
    color: #00f;
    font-size: 26px;
}
.father3{
    position: relative;
}
.father3 i {
    position: absolute;
    top: 12px;
    left: 5px;
    color: #00f;
    font-size: 26px;
}